body, html {
	width: auto;
	height: auto;
	font-family: Cabin, san-serif;
}

.responsive {
	width: 100%;
	height: auto;
}

.jumbotron {
	padding: 0px 15px;
}

.lower-half {
	padding: 0px 15px;
}

.alert {
	padding: 15px 15px;
}

.email-listing {
	padding: 0px 15px;
}

.social-media {
	display: flex;
	justify-content: center;
	padding: 5px;
}

footer {
	display: flex;
	justify-content: center;
}