body, html {
	width: auto;
	height: auto;
	font-family: Cabin, san-serif;
/*	font-size: 2rem;
*/}

.menu {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}


.startup {
	/*display: flex;
	flex-flow: column wrap;
	align-items: center;*/
}

img {
	width: 100%;
	height: auto;
}

.lower-half {
	padding: 0px 15px;
}

.alert {
	padding: 15px 15px;
}

.email-listing {
	padding: 0px 15px;
}

.social-media {
	display: flex;
	justify-content: center;
	padding: 5px;
}

footer {
	display: flex;
	justify-content: center;
}